



/* Ensure that the demo table scrolls */
th, td { white-space: nowrap; }
div.dataTables_wrapper {
    width: auto;
    margin: 0 auto;
}



/**
FORMATO DE MENSAJE DE VALIDACION DE FORMULARIO
**/


.validacion, #validacion {
    color: #ff0000;
    font-size: 8px;
    text-transform:capitalize;
}

.validacion2, #validacion2 {
    color: #ff0000;
    font-size: 20px;
    text-transform:uppercase;
}






/**
 FORMATO MENSAJE DE VALIDACIOND DE TABLAS VACIAS  
  **/

#noDato {
    background-color: transparent;
    
    color           : #ff0000;
    text-align      : center;
}

#siDato {
    background-color: transparent;
    color           : #FFFAFA;
}

/*ALIGNACIONTEXTO*/

.center, #center {


    text-align: center;
}

.justify, #justify {

    text-align: justify;
}

.right, #right {

    text-align: right;
}

.left, #left {

    text-align: left;
}

.start, #start {
    text-align: start;
}

.end, #end {
    text-align: end;

}


/*
 * ESTILO GLOBAL SISTEMARR
 * - Bordes redondeados en campos
 * - Altura compacta para formularios
 */
.sistemRR .form-group {
    margin-bottom: 10px;
}

.sistemRR label,
.sistemRR .form-group label,
.sistemRR .modal-body label {
    margin-bottom: 4px;
    font-size: 12px;
}

.sistemRR .form-control,
.sistemRR .select2-container--default .select2-selection--single,
.sistemRR .select2-container--default .select2-selection--multiple,
.sistemRR .input-group-text {
    border-radius: 8px !important;
    min-height: 34px !important;
    height: 34px !important;
    font-size: 12px !important;
}



.sistemRR .select2-container--default .select2-selection--single {
    height: 34px !important;
}

.sistemRR .select2-container--default .select2-selection--multiple {
    min-height: 34px !important;
}

.sistemRR textarea.form-control {
    min-height: 70px !important;
    height: auto !important;
}

.sistemRR .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 32px !important;
    padding-left: 10px;
    font-size: 12px !important;
}

.sistemRR .select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px !important;
}
